TZ=Europe/Berlin
WEBHOOK_NTFY_URL=http://ntfy/asgard-webhooks
WEBHOOK_SERVICE_ROOT=/opt/services
WEBHOOK_SERVICE_MAP=/config/service-map.tsv
WEBHOOK_REMOTE_SERVICE_ROOT=/opt/remote-services
WEBHOOK_REMOTE_REPO_ROOT=/opt/remote-repos
