NODE_ENV=production
SELF_HOSTED=true

DASHBOARD_URL=https://analytics.noel.fyi
API_URL=https://analytics.noel.fyi/api
API_CORS_ORIGINS=https://noel.fyi

POSTGRES_PASSWORD=replace-with-random-postgres-password
DATABASE_URL=postgresql://postgres:replace-with-random-postgres-password@openpanel-db:5432/postgres?schema=public
DATABASE_URL_DIRECT=postgresql://postgres:replace-with-random-postgres-password@openpanel-db:5432/postgres?schema=public
REDIS_URL=redis://openpanel-kv:6379
CLICKHOUSE_URL=http://openpanel-clickhouse:8123/openpanel

COOKIE_SECRET=replace-with-random-cookie-secret
ALLOW_REGISTRATION=true
ALLOW_INVITATION=true

BATCH_SIZE=5000
BATCH_INTERVAL=10000
OP_WORKER_REPLICAS=1

EMAIL_SENDER=noreply@noel.fyi
RESEND_API_KEY=
